<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelTests" parallel="classes" thread-count="4">
    <parameter name="browser" value="chrome" />
    <test name="ChromeTests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="seleniumTest.e2e.FirstTest" />
            <class name="seleniumTest.e2e.SecondTest" />
        </classes>
    </test>
    <test name="FirefoxTests">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="seleniumTest.e2e.FirstTest" />
            <class name="seleniumTest.e2e.SecondTest" />
        </classes>
    </test>
</suite>